<p id="notice"><%= notice %></p>

<p>
  <strong>Src:</strong>
  <%= @relation.src_id %>
</p>

<p>
  <strong>Dst:</strong>
  <%= @relation.dst_id %>
</p>

<p>
  <strong>Type:</strong>
  <%= @relation.type %>
</p>

<p>
  <strong>Strength:</strong>
  <%= @relation.strength %>
</p>

<%= link_to 'Edit', edit_relation_path(@relation) %> |
<%= link_to 'Back', relations_path %>
